<!-- 
  Grant Hendricks
  215138848
-->

<head>
  <title> Message Me </title>
</head>



  <div id="side-menu">
      <h1>Menu</h1>
      <button mat-raised-button (click)="goto('Home');" >
        <img src="assets/home.jpg" alt="Home" title="Home" width="90px">
      </button>
      <button mat-raised-button (click)="goto('Explore');" >
        <img src="assets/explore.png" alt="Explore" title="Explore" height="90px">
      </button>
      <button mat-raised-button (click)="goto('Gallery');" >
        <img src="assets/gallery.png" alt="Gallery" title="Gallery" width="90px">
      </button>
      <button mat-raised-button (click)="goto('Messages');" >
        <img src="assets/messages.png" alt="Messages" title="Messages" height="100px">
      </button>
      <button mat-raised-button (click)="goto('Notification');" >
        <img src="assets/notification.png" alt="Notification" title="Notification" height="90px">
      </button>
      <button mat-raised-button (click)="goto('Profile');" >
        <img src="assets/profile.jpg" alt="Profile" title="Profile" width="90px">
      </button>
  </div>       <!-- side-menu -->
  
  <div id="main-body">

    <div *ngIf="location=='Home'">
      <app-home></app-home>
    </div>
    
    <div *ngIf="location=='Explore'">
      <app-explore></app-explore>
    </div>
    
    <div *ngIf="location=='Gallery'">
      
    </div>
    
    <div *ngIf="location=='Messages'">
      
    </div>
    
    <div *ngIf="location=='Notification'">
      
    </div>
    
    <div *ngIf="location=='Profile'">
      
    </div>

  </div>       <!-- main-body -->
    
  <div id="right-side">
    <div id="right-panel">
      <h1>Right Panel</h1>
      <p>Add Space and addition component space</p>
    </div>
  </div>





